
:root{
    --purple500:#281154;
    --purple300:#270082;
    --purple600:#1b0058;
    --red600:#dc0000;
    --body:#f9f6ff;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
font-weight: 300;
line-height: 1.4;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
header{
    background-color: var(--purple300);
position: sticky;
top: 0;
z-index: 100;
box-shadow: 5px 5px 5px rgba(0,0, 0,0.5);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
color: white;
padding: 20px 0;

}
.logo{
    font-size: 32px;
    font-weight: 600;
    color: white;

}
nav ul{
    display: flex;
    gap: 20px;
}
nav ul li{
    border-bottom: 2px solid transparent;
    transition: 0.2 ease-in;
}

nav ul li:hover{
    border-bottom: 2px solid white;
    transition: 0.4 ease-in;
}

.hero_section{
    background-image: url("images/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    color: white;
    place-items:center;
    text-align: center;
}
.hero_section .container{
    display: flex;
flex-direction: column;
    gap: 30px;

}
/* .hero_section .container p{
display: flex; 
text-align: center;
} */

.hero_section h1{
    font-size: 96px;
}
.hero_section h3{
    font-size: 32px;
}
























